.game-panel {
  grid-column: 2 / span 2;
  grid-row: 4;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border: 8px groove #110aa4;
  border-radius: 0px;
  padding-left: 1em;
}

.MuiButton-containedSecondary {
  height: 65px;
  width: 65px;
  box-shadow: 5px 5px 5px;
}

.answer-field {
  padding-left: 1em;
  flex-grow: 1;

  .MuiFormControl-root {
    width: 95%;
  }
}
