.player-panel {
  grid-column: 5 / span 3;
  grid-row: 4;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  border: 8px groove #110aa4;
  border-radius: 0px;
  padding: 0 2em 0 2em;
  text-align: center;
  background-color: rgb(227, 228, 230);
}
